body {
    background-color: #2c2c2c;
    color: white;
    font-family: Arial, sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 9fr 4fr;
    gap: 20px;
}

.gridItem {
    background-color: black;
    width: 100%;
    height: 97vh;
    border-radius: 20px;
}

.navigation {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    width: 5.5rem;
}

.navItem {
    /* background-color: aqua; */
    width: 100%;
    text-align: center;
}

.navImg {
    cursor: pointer;
    width: 30px;
    filter: invert(100%);
    transition: filter 0.1s ease-in-out;
}

.navImg:hover {
    filter: invert(100%) drop-shadow(0 0 7px rgba(255, 255, 255, 1));
    transform: scale(1.2);
}


#logo-star {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.6);
}

.remains {
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    background-color: black;
    border-radius: 20px;
    width: 100%;
    height: 40%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.fitIn {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    /* Vertically center text */
    margin: 0;
    /* Remove extra margin between paragraphs */
    box-sizing: border-box;
}










.highlights {
    background-color: black;
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide {
    /* border: 2px solid tan; */
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0px;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}





.mainContent {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.mainName {
    display: flex;
}

.nameBg {
    background-color: #2c2c2c;
    color: white;
    padding: 0px 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: auto;
    font-size: large;
    font-weight: bold;
}

/* .mainItem{
    border: 2px solid gold;
} */
.starHere {
    margin: 0px auto;
    display: flex;
}

.star {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin: auto 0px;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.6);
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-100%, -75%); */
    animation: starZoom 2s ease-in-out infinite;
}

.clicker {
    display: flex;
}

.Upgrades {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

/* .upgradeItem{
    border: 1px solid indianred;
} */

.progressBar {
    display: flex;
}

.progress {
    background-color: antiquewhite;
    height: 1rem;
    width: 25%;
    border-radius: 50px;
    margin: 1rem auto;
}

.upgradesHere {
    display: flex;
}

.upgradeable {
    display: flex;
    margin: 0px auto;
}

.upInfo {
    margin: auto 1rem;
}

.upgradeBtn {
    cursor: pointer;
    border-radius: 10px;
    height: 2.5rem;
    margin: auto;
    width: 2.5rem;
    background-color: white;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.6);
}

.highHeading {
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 10px 10px #262626ae;
}

.upgradeContent-Item {
    /* border: 2px solid sandybrown; */
    margin: 0px 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.upgradeContent {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.activateBtn{
    width: 7em;
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 7px rgba(255, 255, 255, 1));
    cursor: pointer;
}
.f_up{
    margin: auto 1em;
    text-align: left;
}

.fUp-btn{
    margin: auto 1em;
}

.upgradeGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.upgradeGrid-Item{
    /* border: 2px solid aqua; */
    display: flex;
    flex-direction: column;
}

.cosmicGrid{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.cosmic-Item{
    /* border: 2px solid floralwhite; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.light-Btn{
    border: none;
    cursor: pointer;
    background: none;
    color: rgb(147, 147, 147);
    font-weight: bold;
    font-size: 15px;
}

.proGrid{
    display: grid;
    grid-template-rows: 0.5fr 3fr 1fr;
}

/* .proItem{
    border: 2px solid fuchsia;
} */

.m-btw{
    margin: 1em 0px;
}
.proDetails{
    text-align: left;
}

.headings{
    font-size: large;
    font-weight: bold;
}

.meteoricGrid{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

/* .meteroic-Item{
    border: 2px solid indigo;
} */
.meteoricMissions{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.missionGrid-Item{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.misName{
    text-align: start;
    padding: 0px 1em;
}









@keyframes starZoom {

    0%,
    100% {
        transform: scale(1);
        /* Normal size */
    }

    50% {
        transform: scale(1.05);
        /* Slight zoom-in */
    }
}